html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D7F3F9;
  background-image: linear-gradient(120deg, #D7F3F9 0%, #B3F3F4 100%);
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: border-box;
}

main {
  text-align:center;
  width: 70%;
  margin: 3rem auto;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: #61D1DB;
}

a:hover, a:active {
  color: #41C1DD;
}

h1 {
  color: #41C1DD;
  font-size: 3rem;
  font-family: 'Bree Serif', serif;
  margin: 2rem 0;
}

p {
  margin: 2rem 5rem;
  font-size: 1.4rem;
  color: #61D1DB;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.timeLine {
  display: inline-block;
  height: 150px;
  margin: 0;
  border-left: 5px dotted #89E3F0;
}

.timeLine2 {
  display: inline-block;
  width: 250px;
  margin: 1rem 0;
  border-top: 5px dotted #89E3F0;
}

div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #41C1DD;
  border-radius: 50%;
  animation: clickEffect 0.5s ease-out;
  z-index: 1;
}
@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 0.5em;
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5em;
  }
  100% {
    opacity:0.2;
    width: 15em;
    height: 15em;
    margin: -7.5em;
    border-width: 0.03em;
  }
}

@media only screen and (min-width: 1201px) {
  /* EXTRA LARGE */
  main {
    text-align:center;
    width: 60%;
    margin: 3rem auto;
  }
  p {
    margin: 2rem 6rem;
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 993px) {
  /* LARGE */
  main {
    text-align:center;
    width: 70%;
    margin: 3rem auto;
  }
  p {
    margin: 2rem 5rem;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  /* MEDIUM */
  main {
    text-align:center;
    width: 90%;
    margin: 3rem auto;
  }
  p {
    margin: 2rem 3rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 600px) {
  /* SMALL */
  main {
    text-align:center;
    width: 96%;
    margin: 3rem auto;
  }
  p {
    margin: 2rem 1rem;
    font-size: 1.4rem;
  }
}
